<% provide(:title, "Contact") %>
<h1>Contact</h1>
<head>
  <title><%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
</head>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>
